@page
@model PrivacyModel
@{
    ViewData["Title"] = "this site is under maintenance ";
}
<h1 class="priv">@ViewData["Title"]</h1>
<h4 class="priv-bottom">sorry not sorry</h4>

<div id="pic">
    <img src="~/assets/promynio.jpg" />
</div>


